# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="database_url_here"
FIREBASE_PROJECT_ID="project_id_here"
FIREBASE_CLIENT_EMAIL="client_email_here"
FIREBASE_PRIVATE_KEY="private_key_here"

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME="cloud_name_here"
CLOUDINARY_API_KEY="api_key_here"
CLOUDINARY_API_SECRET="api_secret_here"
CLOUDINARY_URL="cloudinary_url_here"
CLOUDINARY_HOST_URL="cloudinary_host_url_here"